{
  "plugins": ["prettier-plugin-organize-imports"],
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "semi": true
      }
    }
  ]
}
