#################
## JAVA
#################

target/

*.class

application-local.properties

# Package Files #

*.jar
*.war
*.ear

#################
## IntelliJ
#################
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
*.iml
out/

###############
## Various
###############

# Mac crap
.DS_Store

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
