<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60" shutdownHook="disable" packages="${avr.service.rootpackage}">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %X{correlationId} %-5level %logger{2} - %X{dd.trace_id} %X{dd.span_id} - %msg%n" />
        </Console>

        <Bugsnag name="Bugsnag" />
    </Appenders>

    <Loggers>
        <Logger name="com.avrios.girders.monitoring" level="info" />

        <Logger name="${avr.service.rootpackage}" level="debug" />
        <Logger name="com.avrios.girders.common.rest" level="debug" />

        <Logger name="io.undertow" level="error" />
        <Logger name="org.apache" level="error" />
        <Logger name="org.hibernate" level="error" />
        <Logger name="org.springframework" level="info" />
        <Logger name="org.springframework.orm" level="error" />
        <Logger name="org.springframework.jdbc" level="error" />
        <Logger name="org.springframework.scheduling" level="info" />
        <Logger name="org.springframework.data.redis" level="info" />
        <Logger name="org.springframework.session" level="info" />
        <Logger name="org.springframework.beans.factory.support" level="info" />
        <Logger name="springfox.documentation" level="error" />
        <Logger name="com.querydsl.jpa.impl.JPAQuery" level="error" />
        <Logger name="xenqtt" level="info" />
        <Logger name="io.lettuce" level="error"/>

        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="Bugsnag" />
        </Root>
    </Loggers>
</Configuration>
